setuptools>=45,<71
wheel
Cython>=0.29
numpy>=1.21,<2
gym>=0.21,<0.26
nltk
toolz
scipy
opencv-python-headless
torch>=1.9,!=2.*
torchvision>=0.10
matplotlib
seaborn
pandas
Pillow
pyinstrument
numba
nevergrad
ray>=1.8
redis
